{% extends "layout/frame.html" %}


{% block contents %}
{% load humanize %} <!-- 천단위에 콤마찍는 라이브러리-->


<div id="contain" class="container-fluid">

    <h1 id="subject">당신의 건강 계산기</h1>
    <h5 id="subject">your health calculator</h5>
    <hr>
    <div id="point_manage" class="container">
      <div class="tot">
        <div>
          <label for="total_price">총 금액</label>
          <p id="total_price">0원</p>
        </div>
        <div>
          <label for="total_point">총 포인트</label>
          <p id="total_point">0P</p>      
        </div>
       <div>
          <!-- <p id="result_count">총 {{ profile.count }}개</p> -->
          <label for="result_count">총 수량</label>
          <p id="result_count">0개</p>        
        </div>
        <div>
          <label for="price_per_point">포인트 당 금액</label>
          <p id="price_per_point">0원/P</p>
        </div>
      </div>
    </div>
    <hr>
    <div id="btn_box" class="container">
      <button id="btn" class="btn btn-primary" style=" display:none" onclick="window.location.reload()">초기화</button>
      <button id="btn" class="btn btn-danger" style=" display:none" onclick="modals('open')">내역확인</button>
    </div>

    <!-- 모달창 시작 -->
    <dialog id="modals">
      <table class="table align-items-center">
        <thead>
          <tr style="background-color:grey; color:white; font-size: 13px;">
            <th >품명</th>
            <th>수량</th>                          
          </tr>
        </thead>
        <tbody>
        {% for file in profile %}          
            <tr id="title"  style="color:rgb(11, 162, 155); font-size: 20px;">
              <td id="product_name">{{ file.title }}</td> 
              <td id="numbers"></td>                 
            </tr>          
        {% endfor %}
        </tbody>
      </table>
      <p>10% 인하 적용시 : <span id="discount"></span> 입니다!</p>      
      <button id="btn" class="btn btn-secondary btn-sm" onclick="modals('close')">닫기</button>
    </dialog>
    <!-- 모달창 끝 -->

    <table class="table align-items-center">
        <thead>
          <tr id="th_line">
            <th >품명</th>
            <th >수량</th>
            <th>가격</th>
            <th>Point</th>
            <th>Unit</th>
            <th>Etc</th>
          </tr>
        </thead>
        <tbody>
        {% for file in profile %}
          <tr>
            <td id="product_name">{{ file.title }}</td> <!--이부분이 품명 -->
            <td id="product" width="80px;"></td> <!--이부분이 수량 -->
            <td id="price">{{ file.price|intcomma}}원</td> <!-- 단가 /천단위에 콤마찍는 라이브러리-->
            <td id="point">{{ file.point }}P</td> <!-- 포인트 -->
            <td id="per"></td> <!-- 단가와 포인트-->
            <td id="product_price">금액표시</td> <!--최종 / 가격 -->
            <!-- <td id="hide1"></td>
            <td id="hide2"></td> -->
            <!-- <td><a href="{% url 'mylist:modify' file.id %}" class="btn btn-outline-secondary btn-sm" style="font-size:0.5vw; ">수정</a></td> -->
          </tr>
       {% endfor %}
        </tbody>
        <!-- {{ file.image.url }}<br> -->
    </table>
</div>



<script>
  let modals = (events)=>{
    let number_text = document.querySelectorAll('#nums');
    let titles = document.querySelectorAll('#title');
    let modal1 = document.getElementById('modals');
    //modal1.style.display = "flex";
    console.log("modal1.events() : " + events);
      if (events == "open"){
        modal1.showModal();
        discount = document.querySelector('#discount');        
        discount.innerHTML = discount_result  + '원';
      } else if (events == "close"){
        modal1.close();
      }

    a = [];
    for(let i=0; i<number_text.length; i++){
     a.push(number_text[i].textContent);
     let number1 = document.querySelectorAll('#numbers');
    
     number1[i].innerHTML = a[i];
     if (a[i] == 0){
      titles[i].style.display = "none";
     } else {
      titles[i].style.display = "table-row";
     }
    }
 }

  let product = document.querySelectorAll('#product');
  let product_price = document.querySelectorAll('#product_price');
  let numbers = document.querySelectorAll('#nums');  
  let per = document.querySelectorAll('#per');
  let price = document.querySelectorAll('#price');// querySelectorAll은 배열로 반환 이걸로 해야전체를 찾을수 있다 ㅠㅠ
  
  price = Array.from(price);

  let point = document.querySelectorAll('#point');
  let result_price = document.querySelector('#result_price');
  let total_point = document.querySelector('#total_point');
  let total_price = document.querySelector('#total_price');
  let result_count = document.querySelector('#result_count');
  let buttons = document.querySelectorAll('#btn')
  console.log("정상작동 확인 123");
  
  product_price = Array.from(product_price);
  //console.log("Array를 변경하면 "+ product_price);
  
   // 화살표 함수표현식은 function calc(){} ->  const calc = () =>{} 와 같이 사용할 수 있다.

  const calc = () => {
    let sum_price = 0;
    let sum_point = 0;
    let count = 0;

    product_price.forEach((contents, index) => {
      let b = price[index].textContent;
      b = b.replace(/,/g, '');
      b = parseInt(b);
      let n = parseInt(product[index].querySelector('#nums').textContent);
      let p = parseInt(point[index].textContent);
      sum_price += b * n;
      sum_point += p * n;
      count += n;

    });
    total_price.innerHTML = sum_price.toLocaleString() + '원';
    total_point.innerHTML = sum_point.toLocaleString() + 'P';
    result_count.innerHTML = count.toLocaleString() + '개';

    console.log("합계금액 확인 " + sum_price);
    discount_result = sum_price * 0.9;
    discount_result = discount_result.toFixed(0).toLocaleString();
    console.log("할인금액 90프로 " + discount_result);

    buttons[0].style.display = "flex";
    buttons[1].style.display = "flex";
    console.log("정상작동 확인 150");


    // 포인트 당 가격 계산
    let avg_price_per_point = sum_price / sum_point;
    avg_price_per_point = avg_price_per_point.toFixed(0);
    avg_price_per_point = avg_price_per_point.toLocaleString();

    // 포인트 당 가격 출력
    let price_per_point = document.querySelector('#price_per_point');
    price_per_point.innerHTML = avg_price_per_point + '원/P';    
  }
  
  //for문 시작
for (let i = 0; i <73; i++) {
  // "div" 태그생성
  let btn_tag = document.createElement('div');
  btn_tag.id = 'btn_tag';
  product[i].appendChild(btn_tag);
  let btn_div = document.querySelectorAll('#btn_tag');
  console.log("btn div로그" + btn_div[i]);

  // "+" 버튼 생성
  let addButton = document.createElement('p');
  addButton.textContent = '+';
  addButton.id = 'btn_plus';
  btn_div[i].appendChild(addButton);
  
  // 숫자 텍스트 생성
  let nums = document.createElement('p');
  nums.textContent = 0;
  nums.id = 'nums';
  btn_div[i].appendChild(nums);
  
  // "-" 버튼 생성
  let minusButton = document.createElement('p');
  minusButton.textContent = '-';
  minusButton.id = 'btn_minus';  
  btn_div[i].appendChild(minusButton);
  
  // "+" 버튼에 이벤트 리스너 추가
  addButton.addEventListener('click', function() {
    let number = parseInt(nums.textContent);
    number++;
    nums.textContent = number;
    calc();
  });
  // "-" 버튼에 이벤트 리스너 추가

  minusButton.addEventListener('click', function() {
    let number = parseInt(nums.textContent);
    number--;
    nums.textContent = number;
    calc();
  });
  let price_value = price[i].textContent;
  price_value = price_value.replace(/,/g, ''); // 콤마 제거
  price_value = parseInt(price_value); // 문자열을 숫자로 변환
  let point_value = point[i].textContent;
  point_value = point_value.replace(/point/g, ''); // point 제거
  point_value = parseInt(point_value); // 문자열을 숫자로 변환
  let point_per = price_value/point_value;
  //소수점 0자리까지 표시
  point_per = point_per.toFixed(0);
  per[i].innerHTML = point_value ==0 ? "포인트없음" : point_per.toLocaleString() + '원/P';

  // 가격과 숫자를 곱한 값을 보여주는 부분
  document.addEventListener('click', function(e) {
    if (e.target.id =='btn_plus' || e.target.id == 'btn_minus') {
      let priceV = price[i].textContent;
      priceV = priceV.replace(/,/g, ''); // 콤마 제거
      priceV = parseInt(priceV); // 문자열을 숫자로 변환
      let priceP = point[i].textContent;
      priceP = priceP.replace(/point/g, ''); // point 제거
      priceP = parseInt(priceP); // 문자열을 숫자로 변환
      let number = nums.textContent;
      number = parseInt(number);
      let result_price = priceV * number;
      let result_point = priceP * number;
      
      product_price[i].innerHTML = result_price.toLocaleString() + '원 / '+ result_point + 'P';
     }
    console.log("정상작동 확인 233");
  });
}
//for문 끝

console.log("정상작동 확인 238");

</script>
<style>
#contain{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#subject{
  width: 100%;
  height: 50px;
  color: rgb(0, 72, 147);
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
  text-align: center;
  
}


#product_name{
  width: 100px;
  font-size: 12px;
  font-weight: bold;
}

#point_manage{
  font-size: 25px;
}
#nums{
  margin: 10px;
}
#th_line{
  background-color:rgb(0, 72, 147) ;
  color: white;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
  font-size: 13px;
}
td{
  vertical-align: middle;  /* 세로 중앙정렬 */
  margin: 0;
  padding: 0;
  font-family: 'Gothic A1', sans-serif;
}

.tot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}#btn_tag{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btn_box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#btn_plus:hover{
  width: 15px;
  height: 15px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 25px;
  color:midnightblue;
  cursor: pointer;
  
}
#btn_minus:hover{
  width: 15px;
  height: 15px;
  font-family: 'Gothic A1', sans-serif;
  font-size: 25px;
  color: brown;
  cursor: pointer;
  }

#btn_plus{
  width: 10px;
  height: 10px;
  font-weight: bold;
  color:midnightblue;
  font-family: 'Gothic A1', sans-serif;
}
#btn_minus{
  width: 10px;
  height: 10px;
  font-weight: bold;
  color:midnightblue;
  font-family: 'Gothic A1', sans-serif;
}
#btn{
  margin: 15px;
  width: 100px;
  height: 30px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
}
.tot>div{
  font-size: 20px;
  font-family: 'Gothic A1', sans-serif;
  font-weight: bold;
}
.tot>div>p{
  font-size: 20px;
  text-align: center;
  color: brown;
}
dialog {
  justify-content: center; /* 모달의 자식 요소를 가운데 정렬 */
  align-items: center; /* 모달의 자식 요소를 가운데 정렬 */ 
  width: 80%; /* 모달의 너비를 500px로 지정 */
  background-color: #f2f2f2; /* 모달의 배경색을 회색으로 지정 */
  border: none; /* 모달의 테두리를 없앰 */
  padding: 20px; /* 모달 내부의 여백을 지정 */
  box-sizing: border-box; /* padding 값을 포함한 크기로 지정 */
  border-radius: 10px; /* 모달의 테두리를 둥글게 지정 */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); /* 모달의 그림자를 지정 */
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: brown;
  text-align: center;

}

@media screen and (min-width: 1000px){
  #contain{
    width: 90%;
  }
}
@media screen and (max-width: 430px){
  h1{
    font-family: 'Black Han Sans', sans-serif;
  }
  #contain{
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #table{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  tr:hover{
    background-color:rgb(243, 255, 166);
  }
  td{
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }
  #nums{
    margin: 5px;

  }
  h6{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  

  .tot{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #btn_tag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #btn_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #btn_plus:hover{
    width: 15px;
    height: 15px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    color:midnightblue;
    
  }
  #btn_minus:hover{
    width: 15px;
    height: 15px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    color: brown;
    }

  #btn_plus{
    width: 10px;
    height: 10px;
    font-weight: bold;
    color:midnightblue;
    font-family: 'Gothic A1', sans-serif;
  }
  #btn_minus{
    width: 10px;
    height: 10px;
    font-weight: bold;
    color:midnightblue;
    font-family: 'Gothic A1', sans-serif;
  }
  #btn{
    margin: 15px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Gothic A1', sans-serif;
  }
}

    
</style>



{% endblock %}